{%extends 'base.html'%}
{%block body_block%}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Update Employee</h2>
            
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token%}
                {{form.as_p}}
            <button type="submit" class="btn btn-outline-light">Change</button>
            </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}